<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159876206788-49230iuntm80pvboks9d95u5373rkvbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159876206788-49230iuntm80pvboks9d95u5373rkvbt</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Z4xKuTBbxQBmgxrLhU6Y8SOBOwb43lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>159876206788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-7e9b7</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-7e9b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159876206788:ios:5c215fae043a7e789ab991</string>
</dict>
</plist>